body {
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.header-section {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.menu {

  text-align: center;
  display: flex;
  gap: 44px;

}
.menu-icon{
  display: none;
}

.menu a {
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.travel {
  color: #FF5400;

}

.home {
  color: #FF5400;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

}

.travel-section {
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  max-width: 1120px;
  margin: 0 auto;
  background-repeat: no-repeat;
  border-radius: 16px;
} 

.heading-explore {

  padding-top: 50px;
  height: 500px;
  text-align: center;
  
}

.heading-explore h1 {
  color: #FFF;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}

.heading-explore p {
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  
  
}

.input-item {
  /* border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  margin: 50px 165px;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: flex;
  gap: 20px; */

  display: inline-flex;
  padding: 10px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  margin-top: 40px;

}

.down-icon {
  outline: none;
  padding-right: 20px;
  background-color: #FFF;
  border-radius: 8px;

}

.input-item input {
  width: 100px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  border: none;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;
  text-align: center;

}

.button {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;

}

.tour-section {
  max-width: 1120px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 50px;
  background: #FFF;

}

.tour-section h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;

}

.tour-section p,
ul {
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.tour-section button {
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
  height: 52px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: none;

}


.container-head{
  text-align: center;
}

.image-row{
 margin: 0 auto;
 display: flex;
justify-content: center;
margin-top: 50px;
 gap: 15px;
 
}
.three-image,.two-image {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;

}
.Maldives h3,.Indonesia h3{
  position: absolute;
 margin-top: -180px;
 margin-left:220px;
 color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 800;
}
.Maldives{
  position: relative;
}
.Indonesia{
  position: relative;
}

.srilanka{
  position: relative;
}
.srilanka h3, .north-america h3{
 position: absolute;
 margin-top: -170px;
  margin-left:140px;
  color: #FFF;
 text-align: center;
 font-size: 24px;
 font-weight: 800;
}
.north-america{
  position: relative;
}
.kashmir{
  position: relative;
}
.kashmir h3{
  position: absolute;
 margin-top: -170px;
  margin-left:90px;
  color: #FFF;
 text-align: center;
 font-size: 24px;
 font-weight: 800;

}

.Bangladesh{
position: relative;
}
.Bangladesh h3{
  position: absolute;
  margin-top: -170px;
  margin-left:150px;
  color: #FFF;
 text-align: center;
 font-size: 24px;
 font-weight: 800;
}
.Bandarban{
  position: relative;
}
.Bandarban h3{
  position: absolute;
  margin-top: -170px;
  margin-left:250px;
  color: #FFF;
 text-align: center;
 font-size: 24px;
 font-weight: 800;
}


.services{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
   max-width: 1120px;
   margin: 0 auto;
}
.price-garrenty{
  grid-column: span 2 / span 2;
  margin: 0 auto;
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding-left: 40px;
padding-right: 90px;
padding-top: 30px;
}




.hotel-service{

  border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding-left: 40px;
padding-top: 30px;

}

.world-service{


padding-left: 40px;
padding-top: 30px;
  
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}




.Newsletter-section {
  max-width: 1120px;
  margin: 60px auto;
  display: flex;
  gap:20px ;
  justify-content: space-between;
  background: #FFF;
}

.Newsletter {
  border-radius: 16px;
  border: 1px solid #FF5400;
  padding-left: 35px;
  width: 35%;
}

.Newsletter h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 45px;
}

.Newsletter p {
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;

}

hr {
  width: 345px;
  margin-left: 9px;
  margin: 15px 0;
}

.Newsletter input {
  width: 330px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  margin-bottom: 18px;
  color: rgba(19, 19, 24, 0.30);
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
}

.Newsletter button {
  width: 345px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
  border: none;
  margin-bottom: 18px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.Newsletter-image {
  position: relative;
}

.discount {
  /* border: 1px solid #FF5400; */
  text-align: center;
  border-radius: 16px;
  background: #FF5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  position: absolute;
  top: 250px;
  margin-left: 340px;
 
}

.discount p{
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
font-family: Mulish;
font-style: normal;
line-height: normal;
}

.discount h2{
  color: #FFF;
font-weight: 800;
font-family: Mulish;
font-size: 30px;
font-style: normal;
}


.footer-section {
  background: rgba(19, 19, 24, 0.05);
  padding-bottom: 40px;

}

.footer-section img {
  width: 40px;
  height: 46.673px;
  flex-shrink: 0;
}

.footer-heading {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.footer-heading span {
  color: #FF5400;
}

.footer-section p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;

}
.line-1{
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.15);
  width: 1320px;
height: 1px;
margin-top: 30px;
  
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: px;
  height: 30px;
  margin-bottom: 40px;

}

.line-2 {
  width: 872px;
  height: 1px;
  margin: 0 auto;
  background: rgba(19, 19, 24, 0.10);
  margin-bottom: 40px;

}

.hide{
  display: none;
}

@media screen and (max-width:600px){

 .header-section{
  /* flex-direction: column;
  text-align: center;
  width: 100%; */
  
 }
 .menu{
  display: none;
 }
 .menu-icon{
  display: block;
  font-size: 30px;
 }
 .heading-explore h1 {
  color: #FFF;
  font-family: Mulish;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
 }
.heading-explore p{
  color: #FFF;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  
}


 .travel-section{
  /* height: 700px; */
 }
 
 .tour-section{
  flex-direction: column;
  padding: 0 10px;
 }
 .image-section{
  flex-direction: column;
 display: block;
 }
 .responsive-images{
width: 520px;
 }
 .image-row{
  flex-direction: column;
 }
 .three-image{
  flex-direction: column;
 
 }

.two-image{
  flex-direction: column;
}

.services{
 
  display: block;
  
}
.world-service{
  margin: 20px 0px;
}
.price-garrenty{
 
} 

.footer-section{
  flex-direction: column;
}
.line-1,.line-2{
  width: 50%;
}






.Newsletter-section{
  flex-direction: column;
  width: 520px;
}
.Newsletter{
  width: 80%;
  margin: 0 auto;
}
.Newsletter-image{
  position: relative;
}
.discount{
  text-align: center;
  border-radius: 16px;
  background: #FF5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  position: absolute;
  top: 150px;
  margin-left: 190px;
}
.travel-section{
  
}

 .input-item{
  flex-direction: column;
  
 }
 body{
  padding: 0 20px;
  margin: 0 auto;
 }
}